<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://basecamplive.com/wp-content/uploads/2023/02/books.jpeg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
        }
        .navbar {
            background-color: #333;
            color: white;
            padding: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            z-index: 1000;
        }

        .navbar-links {
            display: flex;
            align-items: center;
        }

        .navbar span {
            margin-left: 50px;
        }

        .navbar-link {
            margin-right: 10px;
            color: white;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .navbar-link:hover {
            background-color: #333;
        }

        .form-container {
            width: 300px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8); /* Added background color with opacity */
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .form-container h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            font-size: 16px;
            color: #666;
            margin-bottom: 5px;
        }

        .form-group input {
            width: calc(100% - 20px); /* Adjusted width to include margin */
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px; /* Added right margin */
        }

        .submit-btn {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
        }

        .submit-btn:hover {
            background-color: #0056b3;
        }


        .login-link {
            text-align: center;
            margin-top: 15px;
        }

        .login-link a {
            color: #007bff;
            text-decoration: none;
        }

        .login-link a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <body>
        <div class="navbar">
            <span></span>
            <div class="navbar-links">
                <a href="/home" class="navbar-link logout-link">Home</a>
                <a href="api/books_by_title" class="navbar-link logout-link">Books by title</a>
                <a href="api/books_by_title" class="navbar-link logout-link">Books by ISBN</a>
                <a href="api/books_by_title" class="navbar-link logout-link">QUIZ(bonus)</a>
                <a href="/login" class="navbar-link logout-link">Login</a>
            </div>
        </div>
  <div class="form-container">
    <h2>SignUp</h2>
    <form action="/signup" method="post">
      <div class="form-group">
        <label for="name">Username:</label>
        <input type="text" id="name" name="username" placeholder="Enter your username" required autocomplete="off">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
      </div>
      <button type="submit" class="submit-btn">SignUp</button>
    </form>
    <div class="login-link">
        <p>Already have an account?<a href="/login">Login</a></p>
    </div> 
  </div>

</body>
</html>
