<!-- books_by_isbn.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Information</title>
    <style>
         body {
            font-family: 'Arial', sans-serif;
            background-image: url('https://i.pinimg.com/736x/fc/df/12/fcdf12ab3c0e48d7908ffc9a78fe5c93.jpg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100vh;
        }
        .navbar {
            background-color: #333;
            color: white;
            padding: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar-links {
            display: flex;
            align-items: center;
        }

        .navbar span {
            margin-left: 50px;
        }

        .navbar-link {
            margin-right: 10px;
            color: white;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .navbar-link:hover {
            background-color: #333;
        }

        .container {
            text-align: center;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        .authors-container {
            margin-top: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            border-bottom: 1px solid #ccc;
            padding: 20px 0;
            text-align: left;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        footer {
            margin-top: auto;
            padding: 15px;
            background-color: #333;
            color: white;
            text-align: center;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <span>Welcome User!</span>
        <div class="navbar-links">
            <a href="/home" class="navbar-link logout-link">Home</a>
            <a href="/logout" class="navbar-link logout-link">Logout</a>
            <a href="/history" class="navbar-link logout-link">View Search History</a>
            <a href="books_by_title" class="navbar-link logout-link">Books by title</a>

        </div>
    </div>
    <div class="container">
        <h1>Search about Author</h1>
        <form action="/api/books_by_author" method="post">
            <label for="author">Enter Author Name:</label>
            <input type="text" id="author" name="author" required>
            <button type="submit">Search</button>
        </form>
    
        <% if(authorsData && authorsData.length > 0) { %>
            <div class="authors-container">
                <h2>Author Information for '<%= authorsData[0].name %>'</h2>
                <p>Birth Date: <%= authorsData[0].birth_date || 'Not available' %></p>
                <p>Top Work: <%= authorsData[0].top_work || 'Not available' %></p>
                <p>Work Count: <%= authorsData[0].work_count || 'Not available' %></p>
                <!-- Add more details as needed -->
            </div>
        <% } %>
    </div>
    <footer>
        <p>Created by Balzhan, SE-2206</p>
    </footer>
</body>
</html>
